.category__card {
  border: 4px solid var(--clr-secondary);
  border-radius: 1em;
  padding: 1em;
  width: 40ch;
  box-shadow: 0 0 10px 2px var(--clr-bg-secondary);

  display: grid;
  gap: 1em;
  justify-items: center;
  align-items: center;
}

.category__card img {
  max-height: 175px;
  margin: 0 auto;
}

.category__card h4 {
  font-size: clamp(1.75em, 4vw, 2.2em);
}

.category__card p {
  font-size: 1.2em;
  font-family: var(--font-thin);
  line-height: 2;
}
